.booksCard {
    width: 200px;
    height: 300px;
    padding: 20px;
    position: relative;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    &_img_container {
        width: 100%;
        height: 50%;
        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
    &:hover .heart_icon {
        opacity: 1;
    }
    &:hover  .booksCard_icons{
        opacity: 1;
    }
    &:hover .heart_icon_active {
        opacity: 1;
    }
    .heart_icon {
        position: absolute;
        right: 5%;
        top: 10px;
        color: #C3B9B5;
        font-size: 20px;
        cursor: pointer;
        transition: all 0.3s;
        opacity: 0;

        &:hover {
            color: yellow;
        }
        &_active {
            position: absolute;
            right: 5%;
            top: 10px;
            color: yellow;
            font-size: 20px;
            cursor: pointer;
            transition: all 0.3s;
            opacity: 0;
            
        }
    }
    &_icons {
        display: flex;
        position: absolute;
        right: 2%;
        bottom: 3px;
        opacity: 0;
        transition: all 0.3s;
        button {
            background: transparent;
            border: none;
            cursor: default;
        }
        .pen_icon {
            color: #C3B9B5;
            font-size: 20px;
            transition: all 0.3s;
            cursor: pointer;
            &:hover {
                color: black;
            }
        }
        .jam_icon {
            color: #C3B9B5;
            cursor: pointer;
            transition: all 0.3s;
            &:hover {
                color: black;
                
            }
        }
    }
    
}
.ALERT {
    cursor: pointer;
}